@charset "UTF-8";
/* CSS Document */

.info{
		width:100%;
		height: 500px;
		text-align: center; 
		font-size: 300px
	}	
	p{
		margin:0px;
	}
	#info0{
		background-color:mediumvioletred;
	}
	#info1{
		
		background-color:rebeccapurple;
	}
	#info2{

		background-color:dodgerblue;
	}
	#info3{
		
		background-color:mediumseagreen;
	}